@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9; /* slate-100 */
  --foreground: #1e293b; /* slate-800 */
  --primary: #334155; /* slate-700 */
  --primary-foreground: #f8fafc; /* slate-50 */
  --secondary: #064e3b; /* emerald-900 */
  --secondary-foreground: #ecfdf5; /* emerald-50 */
  --accent: #0c4a6e; /* blue-900 */
  --accent-foreground: #f0f9ff; /* blue-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-slate-800;
  }
  
  p {
    @apply text-slate-700;
  }
}
